* {
    /* font-family: Monserrat; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.card_custom{
    width: 126px;
    margin: 3px;
}

.card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
}


.card_img {
    /* border: 4px solid #CDB1FB; */
    border-radius: 4px;
}


.btn_custom {
    width: 285px;
    height: 58px;
    margin: 2px 10px;
    border-radius: 4px;
    border: 1px solid #9B63F8;
    border-radius: 4px;

    background: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #211536;
}

.btn_custom:hover {
    background: #9B63F8;
    color: #FFFFFF;
}

.btn_custom:active {
    background: #8b10a3;
    color: #FFFFFF;
}

.btn_custom:disabled {
    background: #d29cda;
    color: #FFFFFF;
}

.btn_custom__small {
    width: 182px;
    height: 58px;

    border: 1px solid #9B63F8;
    border-radius: 4px;
}

.meeting  {
    /* border: 1px solid black; */
    background: #FAF7FE;
    padding-bottom: 20px;
    border-radius: 4px;
}

.meeting_new {
    background: #FFFFFF;

}


.info {
    box-shadow: 0px 8px 25px rgba(155, 99, 248, 0.15);
    border-radius: 4px;
}

.info img {
    margin: 20px;
}

.card_custom_big_img{
    width: 630px;
    height: 421px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.card-title{
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;

    color: #351768;
}

.rectangle {
    width: 43px;
    height: 43px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    background: #351767;
    color: #FFFFFF;
}


.card_text_custom {
    margin: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #211536;

    opacity: 0.6;
}

.card_text_custom img {
    margin: 5px;
}

.some_text {
    font-weight: 400;
    line-height: 24px;
}